<div class="col-lg-3 bg-info" style="height:100vh;overflow:auto;">
    <ul class="list-group">
        <li class="list-group-item active">Money</li>
        <li class="list-group-item"><a href="/add_money">Add Money</a></li>
        <li class="list-group-item"><a href="/send_money">Send Money</a></li>
        <li class="list-group-item"><a href="#">Wallet Balance(<%= wallet %>)</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">Recharge</li>
        <li class="list-group-item"><a href="/mobile">Mobile Recharge</a></li>
        <li class="list-group-item"><a href="/dth">DTH Recharge</a></li>
        <li class="list-group-item"><a href="/electric">Electric bill</a></li>
        <li class="list-group-item"><a href="/movie">Movie Ticket</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">Transaction</li>
        <li class="list-group-item"><a href="/">Transaction History</a></li>
    </ul>
   
</div>